<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!--  <link href="https://fonts.googleapis.com/css2?family=Chau+Philomene+One&family=Concert+One&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <style>{{ readFile "static/css/homepage.css" | safeCSS }}</style>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <title>Crypto Gecks</title>
  </head>



  <body>
      <div class= "row">
          <div class="text-center logo">
          <img src="./images/CG_LOGO.webp" alt="Crypto Gecks logo">
          </div>
      </div>


    <div id="nav">
      <ul>
         <li><div><a href="#about" class="menu">ABOUT</a></div></li>
         <li><div><a href="#team" class="menu">TEAM</a></div></li>
         <li><div><a href="#roadmap" class="menu">ROADMAP</a></div></li>
         <li><div><a href="#showcase" class="menu">SHOWCASE</a></div></li>
         <li><div><a href="#" class="menu">MINT</a></div></li>
      </ul>
   </div>

    <div class="row" style="margin:5%;">
      <div class="col-xl-4 about" id="about">
          <img src="./images/CG_ABOUT.png" alt="About Crypto Gecks">
      </div>
        <div class="col-xl-8">
            <div class="box">
                <h3>Each Geck is algorithmically generated to be unique and secured as erc-721 tokens on the polygon blockchain.<br>
                  Our mission with Crypto Gecks is to connect creatives and entrepreneurs from different avenues using both virtual and physical creative spaces to build a next gen community thereby changing the status quo. <br>
                  We exchange knowledge, build relationships, and learn the things that you were told you couldn't do. Gecks host exclusive clubs, live talks, classes and spaces chosen by the community to help everyone as a whole  exceed.<br>
                  The community focuses on art, mental health & wellness, skill building, and hosted experiences that expand your abilities. As the community grows so does the opportunity.</h3>
            </div>
        </div>
    </div>

    <div class="container">
      <div class= "row">
          <div class="text-center title" id="team">
          <img src="./images/CG_TEAM.png" alt="Crypto Gecks Team">
          </div>
      </div>
    </div>


    <div class="row" style="margin:2%;">
        <div class="col-xl-4 mx-auto d-block team">
               <img src="./images/CG_TEAM1.png" alt="Crypto Gecks Team">
               <img src="./images/CG_TEAM3.png" alt="Crypto Gecks Team">
               <img src="./images/CG_TEAM5.png" alt="Crypto Gecks Team">
        </div>
        <div class="col-xl-4 mx-auto d-block team">
                 <img src="./images/CG_TEAM2.png" alt="Crypto Gecks Team">
                 <img src="./images/CG_TEAM4.png" alt="Crypto Gecks Team">
                 <img src="./images/CG_TEAM6.png" alt="Crypto Gecks Team">
        </div>
      </div>


    <div class="container">
      <div class="box mx-auto">
          <h3> DISCLAIMER: Our team will be minting their Gecks same as everyone else. Gecks displayed are just for initial presentation</h3>
      </div>
    </div>


    <div class="container">
      <div class= "row">
          <div class="text-center title" id="roadmap">
          <img src="./images/CG_ROADMAP.png" alt="Crypto Gecks Roadmap">
          </div>
      </div>
    </div>



    <div class="row" style="margin:1%;">
        <div class="col-md-offset-2 col-xl-8 col-sm-12 mx-auto d-block">
            <div class="main-timeline">
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">Q1</div>
                        <div class="inner-content">
                            <h3 class="Title">
                              Complete Artwork<br>
                              Start Community<br>
                              Develop Website<br>
                              Create Instagram<br>
                              Create Twitter
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">Q2</div>
                        <div class="inner-content">
                            <h3 class="title">
                              Begin Minting<br>
                              Start building community of creatives, small businesses and entrepreneurs<br>
                              Host local events within the community <br>
                              Build the Community - $30k marketing, $15k Chicagoland, $15k online<br>
                              Launch Exclusive Care Packages - First 1,000 Gecks Minted<br>
                              Exclusive Giveaways - including NFTs<br>
                          </h3>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">Q3</div>
                        <div class="inner-content">
                          <h3 class="title">
                            Select a Creative Space to Buy or Lease<br>
                            Renovate<br>
                            Map Out Space into Meta Verse<br>
                            $50,000 Giveaway <br>- 5 Winners @ $10,000<br>
                            Host Community Events - Markets, Wellness, Entertainment
                          </h3>
                        </div>
                    </a>
                </div>
                <div class="timeline">
                    <a href="#" class="timeline-content">
                        <div class="timeline-icon">Q4</div>
                        <div class="inner-content">
                          <h3 class="title">
                            Soft Opening - Safe Spaces, Shared Spaces, Classes<br>
                            Access to Creative Spaces<br>
                            Create Ambiance<br>
                            Exclusive Access to Future Projects<br>
                            Entrepreneurial Opportunities and Advice<br>
                        </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
      <div class= "row">
          <div class="text-center title" id="showcase">
          <img src="./images/CG_SHOWCASE.png" alt="Crypto Gecks Showcase">
          </div>
      </div>
    </div>

    <div class="row" style="margin:2%;">
        <div class="col-xl"  style="margin:10px;">
           <div class="box text-center">
               <img src="./images/CG_1.png" alt="Crypto Gecks Example #1">
          </div>
        </div>
        <div class="col-xl" style="margin:10px;">
           <div class="box text-center">
               <img src="./images/CG_2.png" alt="Crypto Gecks Example #2">
          </div>
        </div>
        <div class="col-xl" style="margin:10px;">
           <div class="box text-center">
               <img src="./images/CG_3.jpg" alt="Crypto Gecks Example #3">
          </div>
        </div>
        <div class="col-xl" style="margin:10px;">
           <div class="box text-center">
               <img src="./images/CG_4.jpg" alt="Crypto Gecks Example #4">
          </div>
        </div>
      </div>

      <div class="container text-center">
        <div class= "row justify-content-center">
              <a href="https://discord.gg/VXkAcVg4" class="social"><i class="fab fa-discord"></i></a>
              <a href="https://mobile.twitter.com/crypto_gecks" class="social"><i class="fab fa-twitter"></i></a>
              <a href="https://www.instagram.com/cryptogecks/" class="social"><i class="fab fa-instagram"></i></a>
        </div>
      </div>

  </body>
</html>
